/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 * {
   box-sizing: border-box;
 }


 body {
  height: 100vh;
  margin: 0;
}

.screen{
  height: auto;
  overflow:hidden;
}

.wrap{
  margin-top: 10vh;
  height: calc(100% - 10vh)
}

 .wrapper {
   height: 100%;
   width: 100vw;
   display: flex;
 }
 
 

 .header-bar {
   height: 10vh;
  width: 100vw;
  background-color:#f9f4ef ;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid #716040;
  filter: drop-shadow(4px 0 5px #716040);
  position: fixed;
  top:0
  /* box-shadow:2px 2px 5px #716040; */
  /* position: relative; */
  /* flex-direction: column; */
  /* background-color:#4d2c3d; */
}

.header-bar__left {
  display: flex;
  align-items: center;
  
}
.header-bar__right{
  display: flex;
  align-items: center;
 margin-right: 20px;
}
.header-bar__right a{
  text-decoration: none;  
 color:#020826;
 font-size: 17px;
}

.header-bar .fas{
  margin: 20px;
  font-size: 17px;
}

.link-li{
 text-decoration: none;  
 color:#020826;
}

.header-bar__right a:hover,.link-li:hover{
  color: #155765;
}

.user-image{
  margin-right: 5px;
}

.link-li__logout{
  text-decoration: none;  
 color:#020826;
 margin-right: 8px;
 margin-left: 8px;
}

.mg-15{
  margin:0 15px;
}

.app-name{
  text-decoration: none;
  color:  #7b5544;
  font-family: 'arial unicode ms';
  padding-left: 20px;
}


/* 左側 */
.side-bar {
  /* box-shadow:2px 2px 5px #716040; */
  /* position: relative; */
  width: 300px;
  height: 90vh;
   background-color:  #eae2d6;
   border-right: 1px solid #020826;
   /* filter: drop-shadow(4px 0 1px #716040); */
   
  }
  .side-bar-header{
    height: 80px;
    background-color: #d5c3aa;
    padding: 0 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .current-chat-name{
    text-decoration: none;
    font-size: 20px;
    color: #fef9fb;
  }
  .rooms{
    height: calc(90vh - 170px);
    padding: 0 20px;
    overflow: scroll;
    border-top: 1px solid #020826;
    border-bottom: 1px solid #020826;
  }
  .room{
    padding: 20px 0px 40px; 
  }
  .room-name a{
    text-decoration: none;
    color:  #867666;
    font-size: 17px;
    
  }
  .chat-edit {
    height: 90px;
    background-color: #d5c3aa;
    display: flex;
    justify-content: space-between;
    padding: 20px 30px;
  }
  
  
  .delete-chat a,.create-chat a{
    display: block;
    text-decoration: none;
    color:  #155765;
    font-size: 15px;
    padding: 7px;
    border: 1px solid #b8b1b4;
    background-color:#fef9fb ;
    border-radius: 30px;
    height: 40px; 
    box-shadow: 0px 5px 2px #716040;
  }
  .delete-chat a:hover,.create-chat a:hover{
    box-shadow: none;
    transform: translateY(2px);
  }
  


  /* 右側 */
 .main{
   background-color:#867666;
  width: calc(100vw - 300px);
}
.chat-header{
  background-color:  #eae2d6;
  padding: 0 40px;
   height: 80px;
   display:flex;
   align-items: center;
   justify-content: space-between;
 }

 .chat-title {
   color: #155765;
   font-size: 24px;
 }
 
 .messages{
   height: calc(90vh - 170px);
   background-color:#867666;
   padding: 46px 40px 0;
   overflow: scroll;
 }
 .message-wrapper{
   display: inline-block;
   width:100%;
   margin-bottom: 20px;
  }
 
  .my-message{
    float: right;
  }
  .my-message .text{
    float: right;
  }
  .your-message{
   float: left;
  }
  .my-name-date{
    display: flex;
    color: silver;
    justify-content: flex-end;
  }
  .your-name-date{
    display: flex;
    color: silver;
    
  }
  .name{
    font-size: 14px;
  }
  .date{
    margin-left: 5px;
    font-size: 12px;
  }
  .my-message .text p{
    display: inline-block;
    padding: 10px 10px;
    border-radius: 10px;
    background-color: #bee0c2;
    font-size: 16px;
  }
  .your-message .text p{
    display: inline-block;
    padding: 10px 10px;
    border-radius: 10px;
    background-color: gainsboro;
    font-size: 16px;
  }
  

  
  
 .form{
   background-color: #e1b80d;
   height:90px;
   padding: 20px 40px;
   display: flex;
 }
 .form-input{
   width: 100%;
   display: flex;
   background-color: white;
   border: 2px solid #494e6b;
  border-radius: 15px;
 }
 .form-message{
  padding: 10px 10px;
  width: 100%;
  border:none;
  /* /* border: 2px solid #7b5544; */
  border-radius: 15px;
 }

 .form-message:focus{
  outline: none;
  border-radius: 15px;
}

.form-input:focus-within{
  border: 2px solid #155765;

 }

 .form-submit{
   height: 50px;
   margin-left: 15px;
   padding: 0 20px;
   border: 2px solid #155765;
   border-radius: 15px;
 }
 .form-submit:focus{
  outline: none;
  border: 2px solid #155765;
  border-radius: 15px;
 }

 .form-image {
  font-size: 12px;
  border-radius: 10px;
  background-color:#155765;
  color: white;
  padding: 9px 0;
  width: 60px;
  margin: 5px 10px;
  text-align: center;
}

.fa-paperclip{
font-size: 20px;
}

.hidden {
  display: none;
}
 
