

.new-chat-room {
  width: 500px;
  margin: 40px auto;
  background-color: #fefefe;
  border: 1px solid #8c7851;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.chat-room-form{
  width: 100%;
}
.chat-room-form-title{
  width: 100%;
  border-bottom: 1px solid #8c7851;
  text-align: center;
  color: #fefefe;
  font-size: 10px;
  background-color: #d5c3aa;
  
}
.chat-room-form__field-top{
  border-bottom: 1px solid #8c7851;
  width: 100%;
  padding: 20px;
}
.chat-room_name{
  width: 70%;
}
.chat-room-form__field-center{
  border-bottom: 1px solid #8c7851;
  height: 400px;
  padding: 20px;
  overflow: scroll;
}



.chat-room-form__field-select{
  width: 100%;
  
}

.chat-member {
 margin: 20px;
 padding-bottom: 22px;
 border-bottom: 1px solid #d5c3aa;
 font-size: 20px;
 display: flex;
 align-items: center;

}
.chat-member_image{
  margin: 0 20px;
  display: inline-block;
  display: flex;
  align-items: center;
  width: 60px;
height: 60px;
}
.chat-member__name{
  display: inline-block;
  font-size: 20px;
  margin-right: 10px;
  width: 170px;
}
.chat-member__status_message{
  display: inline-block;
  color: gray;
  font-size: 12px;
  text-align: center;
  width: 200px;
  height: 100%;
}


.chat-room-form__field-bottom {
  height: 50px;
  display: flex;
  justify-content: center;
}

.chat-room-form__action-btn{
  text-decoration: none;
  margin: 5px;
  font-size: 15px;
  color: #fff;
  background-color: #7b5544;
  border-radius: 10px;
  box-shadow: 0px 5px 2px black;
}

.chat-room-form__action-btn.cansel{
  padding-top:8px;
}
.chat-room-form__action-btn:hover{
  box-shadow:none;
  transform: translateY(2px);
}


.field_with_errors {
  display: contents;
}
