/* h1 {
  letter-spacing: 2px;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
}

h2 {
  margin-bottom: 10px;
  color: #f05050;
  font-size: 14px;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

li {
  margin: 0;
  padding: 0;
  font-size: 13px;
} */

.new-chat-room {
  width: 500px;
  margin: 40px auto;
  background-color: #fefefe;
  border: 1px solid #8c7851;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.chat-room-form{
  width: 100%;
}
.chat-room-form-title{
  width: 100%;
  border-bottom: 1px solid #8c7851;
  text-align: center;
  color: #fefefe;
  font-size: 20px;
  background-color: #d5c3aa;
  
}
.chat-room-form__field-top{
  border-bottom: 1px solid #8c7851;
  width: 100%;
  padding: 20px;
}
.chat-room_name{
  width: 70%;
}
.chat-room-form__field-center{
  display: flex;
  border-bottom: 1px solid #8c7851;
  height: 400px;
  padding: 20px;
}


.chat-member {
 padding: 20px 5px 0px 20px;
 font-size: 20px;
}

.chat-room-form__field-bottom {
  height: 50px;
  display: flex;
  justify-content: center;
}

.chat-room-form__action-btn{
  text-decoration: none;
  margin: 5px;
  font-size: 15px;
  color: #fff;
  background-color: #7b5544;
  border-radius: 10px;
  box-shadow: 0px 5px 2px black;
}

.chat-room-form__action-btn.cansel{
  padding-top:8px;
}
.chat-room-form__action-btn:hover{
  box-shadow:none;
  transform: translateY(2px);
}


.field_with_errors {
  display: contents;
}
/* .chat-room-form__errors {
  margin: 30px 0;
  padding: 20px 40px;
  border: 1px solid #ddd;
  border-radius: 2px;
  text-align: center;
}
.chat-room-form__label {
  display: block;
  line-height: 50px;
  font-weight: bold;
  text-align: right;
}
.chat-room-form__input {
  float: left;
  width: 100%;
  line-height: 30px;
  padding: 10px 15px;
  box-sizing: border-box;
}
.chat-room-form__action-btn {
  display: inline-block;
  padding: 12px 20px;
  color: #fff;
  background-color: #38aef0;
  border: 0;
}
.chat-room-form__field {
  margin-top: 30px;
}
.chat-room-form__field:after {
  content: "";
  clear: both;
  display: block;
}
.chat-room-form__field--left {
  float: left;
  width: 30%;
  padding-right: 20px;
  padding-left: 20px;
  box-sizing: border-box;
}
.chat-room-form__field--right {
  float: right;
  width: 70%;
}

.chat-room-user {
  padding: 0 15px;
  line-height: 50px;
  font-size: 14px;
  border-bottom: 1px solid #ddd;
  width: 500px;
  margin: 0 auto;
}
.chat-room-user:after {
  content: "";
  clear: both;
  display: block;
}
.chat-room-user__name {
  float: left;
}
.chat-room-user__btn {
  float: right;
  display: inline-block;
  cursor: pointer;
}
.chat-room-user__btn--add {
  color: #38aef0;
}
.chat-room-user__btn--remove {
  color: #f05050;
}

.chat-room-user__name a {
  text-decoration: none;
  color: #38aef0;
}

select {
  width: 500px;
  height: 50px;
}

.top-header {
  background-color: #434a54;
  height: 80px;
  width: 100%;
}

.field_with_errors{
  display: contents;
}

.field_with_errors {
  display: contents;
} */
